<div class="row" style="margin-top: 30px; background-color: #c2cad6; border-radius: 10px;">
  <div class="col-md-12">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Names</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button
            type="submit"
            class="btn btn-submit"
            [disabled]="!employeeForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
