<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onNewEmployee()">Add member</button>
<!--    <button type="button" class="btn btn-info ml-1">Значення по датах</button>-->
<!--    <button type="button" class="btn btn-danger ml-1">Закрити</button>-->
  </div>

</div>

<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">
    <app-employee-item
      *ngFor="let recipeEl of employees; let i = index"
      [employee]="recipeEl"
      [index]="i"
    >
    </app-employee-item>
  </div>

</div>
