<!--<div class="mat-elevation-z8">-->
<!--  <mat-table [dataSource]="metricList" ]>-->
<!--    <ng-container matColumnDef="metricName">-->
<!--      <mat-header-cell *matHeaderCellDef>Metric Name</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{element.metricName}}</mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="metricDesc">-->
<!--      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{element.metricDesc}}</mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="metricValue">-->
<!--      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{element.metricValue}}</mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="lowerBorder">-->
<!--      <mat-header-cell *matHeaderCellDef>Lower Border</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{element.lowerBorder}}</mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="upperBorder">-->
<!--      <mat-header-cell *matHeaderCellDef>Upper Border</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{element.upperBorder}}</mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="actions">-->
<!--      <mat-header-cell *matHeaderCellDef></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let row">-->
<!--        <button mat-icon-button> &lt;!&ndash;(click)="onEdit(row)"&ndash;&gt;><mat-icon>launch</mat-icon></button>-->
<!--        <button mat-icon-button color="warn"> &lt;!&ndash;(click)="onDelete(row.$key)"&ndash;&gt;><mat-icon>delete_outline</mat-icon></button>-->
<!--      </mat-cell>-->
<!--    </ng-container>-->
<!--    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>-->
<!--  </mat-table>-->
<!--</div>>-->
